celery==5.3.4
fastapi
flower
httpx
mysql-connector-python
prisma
pydantic
python-dateutil
python-dotenv
python-multipart
requests
uvicorn
aiofiles
Redis

pytest
pytest-asyncio
pytest-celery
Faker
locust
chardet

flake8